BasedOnStyle: Google
Standard: c++17
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^"hyperstream/.*"$'
    Priority: 2
  - Regex: '.*'
    Priority: 3
NamespaceIndentation: None
